<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">Affiliate System</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'create_affiliate_link' %}">Create Link</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'user_affiliate_links' %}">My Links</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'request_payout' %}">Request Payout</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'admin_create_affiliate_link' %}">Admin Create Link</a></li>
      </ul>
    </div>
  </div>
</nav>
