<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Duration</th>
      <th>Listing ID</th>
      <th>Payment</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for b in boostings %}
    <tr>
      <td>{{ b.boost_type }}</td>
      <td>{{ b.boost_duration }}</td>
      <td>{{ b.listing_id }}</td>
      <td>{{ b.payment_method }}</td>
      <td>{{ b.created_at }}</td>
      <td>
        <!-- Add further actions if needed -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
