<div class="blog-detail container">
  <h1>{{ blog.title }}</h1>
  <p class="lead">{{ blog.description }}</p>
  <div>
    {% if blog.img_position == 'center' %}
      <img src="{{ blog.featured_image.url }}" class="mx-auto d-block img-fluid my-3" alt="Main Image">
    {% elif blog.img_position == 'left' %}
      <img src="{{ blog.featured_image.url }}" class="float-start img-fluid m-3" alt="Left Image">
    {% elif blog.img_position == 'right' %}
      <img src="{{ blog.featured_image.url }}" class="float-end img-fluid m-3" alt="Right Image">
    {% endif %}
  </div>
  <div>
    {% if blog.img_position == "inline" %}
      {{ blog.content|safe|linebreaksbr }}
      <!-- Alternatively, add logic/placeholders to put image in between paragraphs -->
      <img src="{{ blog.featured_image.url }}" class="img-fluid my-4 d-block mx-auto" alt="Inline Image">
    {% else %}
      {{ blog.content|safe|linebreaksbr }}
    {% endif %}
  </div>
  <div class="mt-4">
    <span>Category: {{ blog.categories.all|join:", " }}</span> |
    <span>By {{ blog.author.get_full_name }}</span> |
    <span>Posted: {{ blog.created_at|date:"M d, Y" }}</span>
  </div>
  <div class="mt-2">
    <span class="badge bg-info">Primary: {{ blog.primary_keyword }}</span>
    <span class="badge bg-secondary">Sec: {{ blog.secondary_keywords }}</span>
  </div>
</div>