<h3>Views on {{ listing.title }}</h3>
<table class="table">
  <tr>
    <th>Visitor Name</th>
    <th>Mobile</th>
    <th>Accepted Terms</th>
    <th>Viewed At</th>
    <th>User</th>
  </tr>
  {% for log in logs %}
    <tr>
      <td>{{ log.visitor_name }}</td>
      <td>{{ log.visitor_mobile }}</td>
      <td>{{ log.accepted_terms|yesno:"Yes,No" }}</td>
      <td>{{ log.viewed_at }}</td>
      <td>{% if log.user %}{{ log.user.username }}{% else %}-{% endif %}</td>
    </tr>
  {% endfor %}
</table>