xml
<h3>Signup Successful!</h3>
<p>Thank you {{ signup.full_name }} for selecting the {{ signup.selected_plan.name }} plan as a {{ signup.role }}.</p>
<table class="table table-bordered">
  <tr><th>Role</th><td>{{ signup.role }}</td></tr>
  <tr><th>Plan</th><td>{{ signup.selected_plan.name }}</td></tr>
  <tr><th>Full Name</th><td>{{ signup.full_name }}</td></tr>
  <tr><th>Property Type</th><td>{{ signup.property_type }}</td></tr>
  <tr><th>Amenities</th><td>{{ signup.amenities }}</td></tr>
  <tr><th>Agency Name</th><td>{{ signup.agency_name }}</td></tr>
  <tr><th>Service Areas</th><td>{{ signup.service_areas }}</td></tr>
  <tr><th>Preferred Locations</th><td>{{ signup.preferred_locations }}</td></tr>
  <tr><th>Move-in Date</th><td>{{ signup.move_in_date }}</td></tr>
</table>
<a href="{% url 'subscriptions:overview' %}">Back to Plans</a>