{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Add About Page</title>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
</head>
<body>
<h2>Add About Page</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Title:</label>
    <input type="text" name="title"><br><br>

    <label>Description:</label>
    <textarea name="description" class="ckeditor"></textarea><br><br>

    <label>Intro Badge:</label>
    <input type="text" name="intro_badge"><br><br>

    <label>Intro Heading:</label>
    <input type="text" name="intro_heading"><br><br>

    <label>Intro Content:</label>
    <textarea name="intro_content" class="ckeditor"></textarea><br><br>

    <label>Founder Name:</label>
    <input type="text" name="founder_name"><br><br>

    <label>Founder Role:</label>
    <input type="text" name="founder_role"><br><br>

    <label>Founder Quote:</label>
    <textarea name="founder_quote"></textarea><br><br>

    <label>Founder Image:</label>
    <input type="file" name="founder_image"><br><br>

    <label>Main Image:</label>
    <input type="file" name="main_image"><br><br>

    <label>Overlay Image:</label>
    <input type="file" name="overlay_image"><br><br>

    <label>Years of Excellence:</label>
    <input type="number" name="years_of_excellence" value="1"><br><br>

    <button type="submit">Save</button>
</form>

<script>
    CKEDITOR.replace('description');
    CKEDITOR.replace('intro_content');
</script>
</body>
</html>
